[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
ethlite = "*"
gevent = "*"
marshmallow = "*"
eth-utils = "*"
eth-typing = "*"
Flask = "*"
Flask-Caching = "*"
flask-cors = "*"
Flask-RESTful = "*"
flask_sqlalchemy = "*"
python-datauri = "*"
webargs = "*"
Werkzeug = "*"

[requires]
python_version = "3"
